{% extends "social/patterns/basesocial.html" %}

{% block title %}Лента видеозаписей{% endblock title %}

{% block social_content %}
    <div class="container border border-info" style="cursor: pointer" onclick="location.href ='{% url "add_video" %}'">
        <div class="text-info" style="text-align: center">
            Нажмите здесь, чтобы добавить новое видео
        </div>
    </div>
    {% for video in video_list %}
        <div class="container border" style="margin-top: 7px">
            <a href="{% url "show_video" video.video_id %}"><h3 style="text-decoration:underline;">{{ video.video_name }}</h3></a>
            <hr style="margin-top: 8px; margin-bottom: 8px">
            <p style="font-size: 12px; color: darkslategrey">Автор: {{ video.video_author.user_django }}</p>
        </div>
    {% endfor %}
{% endblock social_content %}

